@font-face {
  font-family: 'UbuntuFont';
  src: local('UbuntuFont'),
  url('../assets/fonts/ubuntuMono.woff2') format('woff2');
}

html, body, #root {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

iframe {
  border: none;
}

.frame-container {
  flex-direction: column;
  position: absolute;
}