@font-face {
  font-family: 'UbuntuFont';
  src: local('UbuntuFont'),
  url('../assets/fonts/ubuntuMono.woff2') format('woff2');
}

html, body, #root {
  margin: 0;
  height: 100%;
}

iframe {
  border: none;
}

.frame-container {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  height: 450px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: 0.8rem;
  right: 0.8rem;
}