@import '../../styles/vars';

.browser-container {
  background-color: $tabsColor;
  border: solid 0.2rem grey;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem $darkColor;
  
  .browser-header {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    
    .browser-name {
      display: flex;
  
      .name {
        display: flex;
        align-items: center;
      }
    }
  }

  .browser-window {
    background-color: $lightColor;
    margin: 0.2rem;

    .browser-window_nav {
      display: flex;
      background-color: lightgray;
      border-bottom: solid 1px $darkColor;
      padding: 0.2rem 0.1rem;
      
      .nav-icons {
        display: flex;
        align-items: center;
        margin: 0 0.2rem;
      }

      .adressBar {
        flex-grow: 2;
        border: solid 0.1rem $darkColor;
        border-radius: 0.3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 0.2rem;
        margin: 0 0.2rem;

        .url {
          margin: 0;
          padding-left: 0.2rem;
          flex-grow: 2;
        }
      }

      .icon {
        width: 12px;
        height: 12px;
        display: flex;
        align-self: center;
      }
    }
  }
}