@import '../../styles/vars';

.page-container {
  padding: 0.4rem;
  height: 80vh;

  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
  }
}